<web-app>

	<servlet>
		<servlet-name>Myservlet</servlet-name>
		<servlet-class>Myservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Collect_Info</servlet-name>
		<servlet-class>Collect_Info</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Validation_Info</servlet-name>
		<servlet-class>Validation_Info</servlet-class>
		
		<init-param>  
			<param-name>classname</param-name>  
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>  
		</init-param>
		<init-param>  
			<param-name>url</param-name>  
			<param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>  
		</init-param>
		<init-param>  
			<param-name>username</param-name>  
			<param-value>admin</param-value>  
		</init-param>
		<init-param>  
			<param-name>password</param-name>  
			<param-value>admin</param-value>  
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Display_Info</servlet-name>
		<servlet-class>Display_Info</servlet-class>
		
		<init-param>  
			<param-name>classname</param-name>  
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>  
		</init-param>
		<init-param>  
			<param-name>url</param-name>  
			<param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>  
		</init-param>
		<init-param>  
			<param-name>username</param-name>  
			<param-value>admin</param-value>  
		</init-param>
		<init-param>  
			<param-name>password</param-name>  
			<param-value>admin</param-value>  
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Validation_Login</servlet-name>
		<servlet-class>Validation_Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Client_side_validate</servlet-name>
		<servlet-class>Client_side_validate</servlet-class>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>Myservlet</servlet-name>
		<url-pattern>/Myservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Collect_Info</servlet-name>
		<url-pattern>/Collect_Info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Validation_Info</servlet-name>
		<url-pattern>/Validation_Info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Display_Info</servlet-name>
		<url-pattern>/Display_Info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Validation_Login</servlet-name>
		<url-pattern>/Validation_Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Client_side_validate</servlet-name>
		<url-pattern>/Client_side_validate</url-pattern>
	</servlet-mapping>
	
		<context-param>  
			<param-name>classname</param-name>  
			<param-value>oracle.jdbc.driver.OracleDriver</param-value>  
		</context-param>
		<context-param>  
			<param-name>url</param-name>  
			<param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>  
		</context-param>
		<context-param>  
			<param-name>username</param-name>  
			<param-value>admin</param-value>  
		</context-param>
		<context-param>  
			<param-name>password</param-name>  
			<param-value>admin</param-value>  
		</context-param>
	
	<welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
		<welcome-file>home.html</welcome-file>  
		<welcome-file>default.html</welcome-file> 
    </welcome-file-list>
	
</web-app>